#!/bin/bash
#
# Back up data for Redmine

BACKUP_DIR={{ redmine_backup_dest }}
REDMINE_BACKUP_DIR=$BACKUP_DIR/redmine_backups

mkdir -p $REDMINE_BACKUP_DIR

timestamp=`date +%Y%m%d`

# back-up database
PGPASSWORD="{{ db_password }}" pg_dump -h {{ db_host }} -U {{ db_user }} {{ redmine_db_name }} | gzip > $REDMINE_BACKUP_DIR/redmine_db_backup_${timestamp}.sql.gz

# back-up upload files
tar -C {{ redmine_home }} -czf $REDMINE_BACKUP_DIR/redmine_upload_backup_${timestamp}.tar.gz files

# delete file older than 7 days
find $REDMINE_BACKUP_DIR/ -mtime +7 -type f -exec rm -f {} \;
