#!/bin/bash
#
# Back up data for GitLab

BACKUP_DIR={{ gitlab_backup_dest }}
GITLAB_BACKUP_DIR=$BACKUP_DIR/gitlab_backups
GITLAB_BACKUP_TEMP_DIR=/var/opt/gitlab/backups

# back up
/opt/gitlab/bin/gitlab-rake gitlab:backup:create CRON=1

# delete files older than {{ gitlab_backup_days }} days
find $GITLAB_BACKUP_DIR/      -maxdepth 1 -type f -mtime +{{ gitlab_backup_days }} | xargs rm -f
find $GITLAB_BACKUP_TEMP_DIR/ -maxdepth 1 -type f -mtime +{{ gitlab_backup_days }} | xargs rm -f